/* Estilos de cajas de texto */

*{box-sizing:border-box;}
/* Estilos de cada cuadro del formularioo */
form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

/* Estilos para los cuadros de input*/

form input[type="text"],
form input[type="email"]
form input[type="datetime-local"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

/* Estilos para el boton de enviar*/

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:rgb(52, 15, 155);;
} 

/* Estilos para el boton de la seleccion del a fecha*/

form input[type="datetime-local"]{
	width:100%;
	padding:8px 16px;
	margin-top:10px;
	border:1px solid rgb(79, 11, 168);
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:rgb(52, 15, 155);
} 

/* Estilos para el boton del precio total*/

form input[type="submit"]:hover{
	cursor:pointer;
}

/* Estilos para el texto*/

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize:none;
	display:block;
}